/************************
    large screen
*************************/

@media screen and (max-width: 980px) {
    .content {
        width: 768px;
    }
    .headshot {
        float: left;
    }
    section {
        width: 400px;
    }
    section p {
        float: left;
    }
    figure {
        position: relative;
        left: 10%;
    }
}