header,
footer,
.content {
    width: 100%;
}

.content {
    height: fit-content;
}

section,
aside,
.headshot {
    float: left;
}

aside,
section {
    width: 640px;
    margin: 20px;
}

aside ul {
    text-align: left;
}

figure {
    /* position: relative; */
    left: 3%;
}

figure,
figure img {
    /* float: left; */
    width: 280px;
    text-align: center;
}


/* 
figure img {
    border: #777777 solid 1px;
}

figure {
    margin: 10px;
} */


/* aside {
    width: 180px;


}
aside h3 {
    margin-left: 0;
    margin-right: 2px;
}
section {
    width: 480px;
}
.headshot {
    width: 250px;
}
.ltor img {
    height: 40px;
    width: 40px;
    padding-top: 8px;
    padding: 8px 4px 0 4px;
}
.ltor img:hover {
    height: 48px;
    width: 48px;
    padding: 0;
}
*/