header,
footer,
.content {
    width: 100%;
}

.content {
    height: fit-content;
}

section,
aside,
.headshot {
    float: left;
}

aside,
section {
    width: 600px;
    margin: 20px;
}

aside ul {
    text-align: left;
}

figure {
    left: 3%;
}

figure,
figure img {
    width: 280px;
    text-align: center;
}