nav {
    margin: 0;
    padding: 20px 0;
    width: 50%;
}

header,
footer,
.content {
    width: 100%;
}

.logo {
    font-size: 24px;
}

.content {
    height: fit-content;
}

section,
aside,
.headshot {
    float: left;
}

.headshot {
    width: 90%;
}

aside,
section {
    width: 90%;
    margin: 20px;
}

aside ul {
    text-align: left;
}

figure {
    left: 3%;
}

figure {
    width: 90%;
    text-align: center;
}

figure img {
    width: 100%;
}